.coolinput {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    max-width: 240px;
}

.coolinput input[type=text].input,
.coolinput input[type=password].input {
    padding: 11px 10px;
    border: 2px #593e8a solid;
    border-radius: 5px;
    background: transparent;
    font-size: 0.75rem;
    font-weight: bold;
    color: #31185f;
}

.coolinput input[type=text].input:focus,
.coolinput input[type=password].input:focus {
    outline: none;
}
