a {
    color: #593e8a;
    text-decoration: none;
    padding: 5px;
    font-size: 1rem;
    font-weight: 700;
    
  }
  
  a:hover {
    background-color: #593e8a;
    color: white;
    border-radius: 5px;
  
    box-shadow: 0 0 10px rgba(210, 129, 248, 0.856);
  }
  
  a:active {
    background-color: #593e8a solid;
    color: white solid;
    border-radius: 5px solid;
    box-shadow: 0 0 10px rgba(214, 129, 248, 0.822);
  }