.navbar {
  display: flex;
  justify-content: center;
  background: whitesmoke; 
  padding: 10px;
  box-shadow: 2px 2px 2px 2px #593e8a;
  max-width: max-content;
  margin: 0 auto;
  border: #593e8a;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-left: 10px;
  margin-right: 10px;
}