.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: whitesmoke;
    
    border: 2px #593e8a solid;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
}

.sidenav-title {
    color: #593e8a;
    text-align: center;
    font-weight: bold;
    font-family: "FuenteVistosa", 'Segoe UI';
}

.card {
    display: block;
    margin-left: 15%;
}