.card {
    width: 190px;
    height: 254px;
    background: whitesmoke;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: wheat;
    border: 2px #593e8a solid;
    transition: max-width 0.3s ease, padding 0.3s ease;
    box-shadow: 0 0 15px rgba(228, 129, 248, 0.795);
}

.card:hover {
    width: 200px;
    height: 264px;
    transition: max-width 0.3s ease, padding 0.3s ease;
}

.user-img {
    width: 70px;
    height: 80px;
    background: whitesmoke;
    border-radius: 15px;
    margin: auto;
    margin-top: 25px;
    border: 2px #593e8a solid;
}